extends layout

block content
  h1 Welcome to my books
  .content-wrapper
    each i in books
      .book-container
          img(src=i.thumbnailUrl, alt=i.title)
          h2.book-title #{i.title}
          p.book-info ISBN: #{i.isbn}
          p.book-info Page Count: #{i.pageCount}
          p.book-info Published Date: #{i.publishedDate && i.publishedDate.$date ? i.publishedDate.$date : 'N/A'}
          p.book-info Authors: #{i.authors}
          p.book-info Categories: #{i.categories}
    
